<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.order.model.dao.OnlineOrderMapper">

    <insert id="insertOnlineOrder" parameterType="OnlineOrderDto" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO
            tbl_online_order(
                            user_id
                          , total_price
                            )
        VALUES ( #{userId}, #{totalPrice} )
    </insert>

    <insert id="insertOnlineOrderDetail" parameterType="OnlineOrderDetailDto" useGeneratedKeys="true" keyProperty="onlineOrderDetailId">
        INSERT INTO
            tbl_online_order_detail(
                                    order_id
                                  , shoes_id
                                  , quantity
                                    )
        VALUES ( #{orderId}, #{shoesId}, #{quantity} )
    </insert>


    <select id="deleteShoesWareHouse" parameterType="_int" resultType="_int">
        SELECT
        quantity
        FROM
        tbl_online_warehouse
        WHERE
        shoes_id = #{shoesId}
    </select>


    <!-- 일별 온라인 주문 통계 -->
    <select id="selectOnlineDailyStats" resultType="OnlineOrderStatsDto">
        SELECT
            DATE(o.order_date) AS date,
            SUM(d.quantity) AS totalQuantity,
            SUM(d.quantity * o.total_price) AS totalRevenue
        FROM tbl_online_order o
            JOIN tbl_online_order_detail d ON o.order_id = d.order_id
        GROUP BY DATE(o.order_date)
        ORDER BY date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!-- 월별 온라인 주문 통계 -->
    <select id="selectOnlineMonthlyStats" resultType="OnlineOrderStatsDto">
        SELECT
        DATE_FORMAT(o.order_date, '%Y-%m') AS date,
        SUM(d.quantity) AS totalQuantity,
        SUM(o.total_price) AS totalRevenue
        FROM tbl_online_order o
            JOIN tbl_online_order_detail d ON o.order_id = d.order_id
        GROUP BY DATE_FORMAT(o.order_date, '%Y-%m')
        ORDER BY date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>