<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.shoes.model.dao.ShoesManagementMapper">

    <!-- 신규 신발 등록 -->
    <insert id="insertShoes" parameterType="ShoesDto" useGeneratedKeys="true" >
        insert into
        tbl_shoes
            (
             shoes_id
            ,shoes_type_id
            ,brand_id
            ,shoes_name
            ,shoes_price
            ,size
            )
        values
            (
             #{shoesId}
            ,#{shoesTypeId}
            ,#{brandId}
            ,#{shoesName}
            ,#{shoesPrice}
            ,#{size}
            )
    </insert>


    <!-- 기존 신발 수정 -->
    <update id="updateShoes" parameterType="shoesDto">
        update
            tbl_shoes
        set
            shoes_name = #{shoesName}
            ,shoes_price = #{shoesPrice}
            ,size = #{size}
        where
            shoes_id = #{shoesId}
    </update>
    <delete id="deleteShoes" parameterType="_int">
        delete
            from tbl_shoes
        where
            shoes_id = #{shoesId}
    </delete>
    <!--보내기-->
</mapper>