<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.shoes.model.dao.ShoesMapper">

    <resultMap id="shoesListResultMap" type="ShoesDto">
        <result column="shoes_id" property="shoesId"/>
        <result column="shoes_type_id" property="shoesTypeId"/>
        <result column="brand_id" property="brandId"/>
        <result column="shoes_name" property="shoesName"/>
        <result column="shoes_price" property="shoesPrice"/>
        <result column="size" property="size"/>
    </resultMap>

    <select id="searchBrandName" parameterType="_int" resultType="String">
        SELECT
            brand_name
        FROM
            tbl_brand
        WHERE
            brand_id = #{brandId}
    </select>

    <select id="searchTypeName" parameterType="_int" resultType="String">
        SELECT
        brand_name
        FROM
        tbl_brand
        WHERE
        type_id = #{typeId}
    </select>



    <!--  ========= 정렬별 조회하기 ============ -->

    <select id="sortingByLatest" parameterType="com.swms.shoes.model.dto.ShoesOptionDto" resultMap="shoesListResultMap">
        SELECT DISTINCT
            shoes_name
            , shoes_price
        FROM
            tbl_shoes
        WHERE
            shoes_type_id = #{shoesTypeId}
        AND brand_id = #{brandId}

    </select>

    <select id="sortingByPriceASC" parameterType="com.swms.shoes.model.dto.ShoesOptionDto" resultMap="shoesListResultMap">
        SELECT DISTINCT
            shoes_name
            , shoes_price
        FROM
            tbl_shoes
        WHERE
            shoes_type_id = #{shoesTypeId}
        AND brand_id = #{brandId}
        ORDER BY
            shoes_price;
    </select>

    <select id="sortingByPriceDESC" parameterType="com.swms.shoes.model.dto.ShoesOptionDto" resultMap="shoesListResultMap">
        SELECT DISTINCT
            shoes_name
            , shoes_price
        FROM
            tbl_shoes
        WHERE
            shoes_type_id = #{shoesTypeId}
        AND brand_id = #{brandId}
        ORDER BY
            shoes_price DESC;
    </select>

</mapper>