<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.warehouse.model.dao.OnlineWarehouseMapper">

    <resultMap id="onlineWarehouseResultMap" type="com.example.OnlineWarehouseDto">
        <id property="onlineWarehouseId" column="online_warehouse_id"/>
        <result property="shoesId" column="shoes_id"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="selectAllOnlineWarehouse" resultMap="onlineWarehouseResultMap">
        select
            online_warehouse_id
          , shoes_id
          , quantity
        from
            tbl_online_warehouse
        order by
            online_warehouse_id desc
            limit #{limit} offset #{offset}
    </select>
</mapper>