<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.warehouse.model.dao.OnlineWarehouseMapper">
    <select id="checkWarehouseStock" parameterType="_int" resultType="_int">
        SELECT
        quantity
        FROM
        tbl_online_warehouse
        WHERE
        shoes_id = #{shoesId}
    </select>

    <update id="updateShoesQuantity" parameterType="_int">
        UPDATE
        tbl_online_warehouse
        SET quantity = quantity - 1
        WHERE shoes_id = #{shoesId}
    </update>

    <resultMap id="onlineWarehouseResultMap" type="OnlineWarehouseDto">
        <id property="onlineWarehouseId" column="online_warehouse_id"/>
        <result property="shoesId" column="shoes_id"/>
        <result property="quantity" column="quantity"/>
    </resultMap>


    <!-- 전체 조회 -->
    <select id="selectAllOnlineWarehouse" resultMap="onlineWarehouseResultMap">
        select
            ow.online_warehouse_id,
            ow.shoes_id,
            ow.quantity,
                s.shoes_name,
                s.shoes_price,
                s.size,
                s.shoes_type_id,
                s.brand_id,
                    st.shoes_type,
                    b.brand_name
        FROM tbl_online_warehouse ow
            JOIN tbl_shoes s ON ow.shoes_id = s.shoes_id
            JOIN tbl_shoes_type st ON s.shoes_type_id = st.shoes_type_id
            JOIN tbl_brand b ON s.brand_id = b.brand_id
        order by
            online_warehouse_id desc
            limit #{limit} offset #{offset}
    </select>
</mapper>