<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swms.warehouse.model.dao.PurchaseOrderMapper">


    <insert id="createPurchaseOrder" parameterType="PurchaseOrderDto" useGeneratedKeys="true" keyProperty="purchaseOrderId">
        insert into
        tbl_purchase_order
            (
            store_id
          , shoes_id
          , quantity
            )
        values
            (
            #{storeId}
          , #{shoesId}
          , #{quantity}
        )
    </insert>

    <select id="selectAllPurchaseOrder" resultType="PurchaseOrderDto">
        SELECT
            po.purchase_order_id,
            po.store_id,
            po.shoes_id,
            po.quantity,
            store.store_id,
            store.store_name,
            s.shoes_name,
            s.shoes_price,
            s.size,
            s.shoes_type_id,
            s.brand_id,
            st.shoes_type,
            b.brand_name
        FROM tbl_purchase_order po
            JOIN tbl_store store ON po.store_id = store.store_id
            JOIN tbl_shoes s ON po.shoes_id = s.shoes_id
            JOIN tbl_shoes_type st ON s.shoes_type_id = st.shoes_type_id
            JOIN tbl_brand b ON s.brand_id = b.brand_id
        ORDER BY po. purchase_order_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>